main {
    max-width: 100%;
    height: 100%;
}

main>h2 {
    color: gold;
}

.movie--card {
    max-width: 100%;
  }
  
  .movie--card img {
    width: 100px;
    height: 100px;
  }
  
  .carousel--poster {
    position: relative;
    width: 100%;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: gold transparent;
    scroll-snap-align: center;
  }
  
    .carousel--poster h2 {
      position: fixed;
      top: 0;
      left: 50%;
      color: gold;
      transform: translateX(-50%);
    }
  
    .list--poster {
      width: 4000px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      
      
    }

    @media screen and (min-width: 720px) {
      .carousel--poster {
        scrollbar-width: thin ;
        scroll-margin: 50px;
        scroll-snap-align: center;
      }
    }