footer {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 100%;
    padding: 10px;
    color: white;
}

footer span {
    align-self: flex-end;
}

footer img {
    width: 150px;
}

