@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.App {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App>h2 {
  color: black;
  background-color: gold;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 5px;
  border-radius: 5px;
}


.App>button {
  position: absolute;
  right: 0;
  top: 30px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;

}

.movie--card {
  max-width: 100%;
}

.movie--card img {
  width: 100px;
  height: 100px;
}

.carousel--poster {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

  .carousel--poster h2 {
    position: fixed;
    top: 0;
    left: 50%;
    color: gold;
    transform: translateX(-50%);
  }

  .list--poster {
    width: 4000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    gap: 50px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
  }
  .list--poster::-webkit-scrollbar {
    display: none;
  }


